body {
	<<<<<<< HEAD
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction:column;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

.content {
	flex:1;
	=======
	margin: 0;
	padding: 0;
	>>>>>>> ffc9df854bbdb5aab0dac6fb9b9a68638eefcb7c
}
